export TITLE=
export VERSION=
export TIMEZONE=
export DESCRIPTION=
export DEBUG=
export DATABASE_URL=
export CASDOOR_URL=
export CASDOOR_CERTIFICATE=
export CASDOOR_ORG_NAME=
export CASDOOR_APP_NAME=
export CASDOOR_CLIENT_ID=
export CASDOOR_CLIENT_SECRET=
export TEST_PRICING_DB=
export PROD_PRICING_DB=
export USE_DB_FAST_LOAD=
export USE_TEST_DB=

uvicorn src.main:backend_app --reload --workers 1 --port 8080